body{
    background-color:khaki;
    margin: 60px;
    margin-top: 40px;
}
div.main_container {
    text-align: center;
    background-color: bisque;
}

.main_title {
    text-align: center;
}

.navbar{
    text-align: center;
}

button.navbar{
    text-align: center;
}

.homepage {
    display: block;
}

.product_menu{
    text-align: center;
    display: none;
}

.orderpage {
    display: none;
}

.product_category{
    text-align: center;
}

.category_box{
    text-align: center;
}

button.category_button{
    text-align: center;
}

.product{
    text-align: center;
    display: block;
    margin: 60px;
}

.product_contaier{
    padding-top: 20px;
}

img {
    width:500 ;
    height:600 ;
}
@media only screen and (max-width: 600px) {

    body{
        background-color:khaki;
        margin: 60px;
    }
    .main_title {
        text-align: center;
    }

    div.navbar{
        text-align: center;
    }

    button.navbar{
        text-align: center;
    }

    .product_menu{
        text-align: center;
    }

    .product_category{
        text-align: center;
    }

    .category_box{
        text-align: center;
    }

    button.category_button{
        text-align: center;
    }

    .category{
        text-align: center;
    }
}